@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer {
    width: 100%;
    background-color: rgb(0, 132, 255);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-refeicao {
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 2px 8px #ccc;
    display: flex;
}
